:host {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: auto;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 24px;
}

.image-wrapper .image-background {
    height: 224px;
    width: 400px;
    background: #948981;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0 0;
}

.image-circle {
    border-radius: 50%;
    background: #fafafa;
    width: 200px;
    height: 200px;
}

.image-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.triangle {
    width: 0;
    height: 0;
    border-width: 40px 200px 0 200px;
    border-color: #948981 transparent;
    border-style: solid;
}

.chronology {
    flex-grow: 1;
}

.profile {
    border-left: 1px solid #AD73C8;
    padding-left: 12px;
    flex-grow: 1;
    max-width: 35vw;
    height: 100%;
}

p span {
    display: block;
}

.events {
    margin-top: 24px;
}

.event {
    display: flex;
    flex-direction: row;
}

.event-heading {
    border-right: 1px dashed #AD73C8;
    width: 15vw;
    text-align: right;
    padding-right: 12px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
}

.event-content {
    flex-grow: 1;
    padding-left: 12px;
}

.event-content p {
    margin-bottom: 24px;
    margin-top: 0;
}
