<div class="chronology">
    <h3>{{section.title}}</h3>
    <fuu-about-me-back-button></fuu-about-me-back-button>

    <div class="events">
        <div class="event" *ngFor="let event of section.content.events">
            <div class="event-heading">
                <b class="event-title">{{event.title}}</b>
                <span class="dates">
                    <clr-icon shape="calendar"></clr-icon>
                    {{event.date.from | fuudate}} - {{event.date.to | fuudate}}</span>
            </div>
            <div class="event-content">
                <p class="p4">{{event.subtitle}}</p>
                <p *ngFor="let paragraph of event.info">{{paragraph}}</p>
            </div>
        </div>
    </div>
</div>

<div class="profile">
    <div class="image-wrapper">
        <div class="image-background">
            <div class="image-circle">
                <img src="{{section.content.basedata.image}}" alt="ich">
            </div>
        </div>
        <div class="triangle"></div>
    </div>

    <h3>{{section.content.basedata.name}}</h3>

    <p class="address">
        <span>{{section.content.basedata.address.street}}</span>
        <span>{{section.content.basedata.address.zip}} {{section.content.basedata.address.city}}</span>
    </p>

    <p>
        <span>Geboren: {{section.content.basedata.birthdate}} / {{section.content.basedata.bornIn}}</span>
        <span>Familienstand: {{section.content.basedata.familiyStatus}}</span>
    </p>

    <p>
        <span>
            <clr-icon shape="mobile"></clr-icon>{{section.content.basedata.phone}}</span>
        <span>
            <clr-icon shape="envelope"></clr-icon>
            <a href="mailto:{{section.content.basedata.email}}">{{section.content.basedata.email}}</a>
        </span>
        <span>
            <clr-icon shape="computer"></clr-icon>
            <a href="{{section.content.basedata.homepage}}" target="_blank">{{section.content.basedata.homepage}}</a>
        </span>
    </p>

</div>