<div class="welcome-wrapper">
    <div class="welcome-background"></div>

    <div class="welcome-content">
        <div class="welcome-image-wrapper"></div>
        <div class="welcome-text">
            <h1>Hallo.</h1>
            <h3>Ich bin Daniel</h3>
        </div>
    </div>

    <div class="intro">
        <p>Ich bin Webdeentwickler aus Österreich. Ich liebe es kleinere und größere Projekte für den Browser zu Entwickeln,
            und mich immer wieder mit neuen Technologien zu beschäftigen.</p>
        <fuu-divider></fuu-divider>
        <p><a routerLink="/aboutme">Hier</a> erfährst du mehr darüber was ich so mache.</p>
    </div>
</div>
